.value_form input {
    padding: 0 8px;
    height: 45px;
    line-height: 45px;
    margin: 0 6px;
    border-radius: 6px;
    border: none;
}

.value_form > input[type="submit"] {
    background-color: #18da18;
    font-weight: 600;
    padding: 0 20px;
}

.counter {
    font-size: 100px;
    font-weight: 600;
    color: #18da18;
    margin: 10px auto 30px;
    text-align: center;
}

.control_btns button {
    margin: 0 8px;
    min-width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    border: none;
    font-weight: bold;
}